# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

In [2]:
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

In [3]:
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [5]:
numbers = [10, 20, 30, 40]
tuple_numbers = tuple(numbers)
tuple_numbers

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [6]:
numbers_set = {1, 2, 3, 4, 5}
numbers_set

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

In [8]:
student = {"name": "Alice", "age": 20, "grade": "A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

In [9]:
my_list = [10, 20, 30, 40, 50]
second_element = my_list[1]
second_element

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [11]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

In [13]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [14]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [15]:
my_range = range(10)
my_range

range(0, 10)

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [16]:
squares = [x ** 2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [17]:
evens = tuple(x for x in range(2, 11, 2))
evens

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [18]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [20]:
numbers = {1, 2, 3, 4, 5}
3 in numbers

True

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

In [22]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [24]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [25]:
def sum_list(elements):
    return sum(elements)

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [27]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set(numbers)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [29]:
list("hello")

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [30]:
def reverse_tuple(tup):
    return tup[::-1]

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

In [32]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged = {**dict1, **dict2}
merged

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

In [34]:
squares_dict = {x: x ** 2 for x in range(1, 6)}
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [35]:
my_dict = {"name": "Alice", "age": 20, "grade": "A"}  # Example dictionary
for key, value in my_dict.items():
    print(key, value)

name Alice
age 20
grade A

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

In [37]:
letters = [chr(i) for i in range(ord('a'), ord('a') + 5)]
letters

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

In [38]:
combined = list(zip([1, 2, 3], ["a", "b", "c"]))
combined

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [40]:
my_list = [10, 20, 30, 40, 50]
index_50 = my_list.index(50)
index_50

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [42]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [44]:
def largest_number(numbers):
    return max(numbers)
largest_number

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [47]:
fruits = ["apple", "banana", "apple", "orange"]
count_apple = fruits.count("apple")
count_apple

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [49]:
person = {"name": "Alice", "age": 25, "city": "New York"}
city = person["city"]
city

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [50]:
def remove_duplicates(my_list):
    return list(dict.fromkeys(my_list))

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [51]:
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [60]:
def square_generator():
    for x in range(1, 11):
        yield x ** 2

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [64]:
def sum_dict_values(my_dict):
    return sum(my_dict.values())

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [63]:
my_list = [3, 1, 4, 1, 5, 9]
sorted_list = sorted(my_list)

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [65]:
def longest_string(strings):
    return max(strings, key=len)

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [68]:
my_list = [1, 2, 3, 4, 5]
all(x > 0 for x in my_list)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

In [70]:
num_squares = [(x, x ** 2) for x in range(1, 6)]
num_squares

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [71]:
def second_elements(tuples_list):
    return [t[1] for t in tuples_list]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [72]:
def flatten_list(list_of_lists):
    return [item for sublist in list_of_lists for item in sublist]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [73]:
fruits = ["apple", "banana", "cherry"]
for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

In [75]:
my_tuple = ()  # Example empty tuple
not bool(my_tuple)

True

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [77]:
even_numbers = list(range(2, 21, 2))
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

In [78]:
def reverse_list(numbers):
    return numbers[::-1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [80]:
cubes_dict = {x: x ** 3 for x in range(1, 6)}
cubes_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [82]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(dict.fromkeys(numbers))
unique_list

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [83]:
def extract_values(list_of_dicts, key):
    return [d[key] for d in list_of_dicts if key in d]

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [84]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [85]:
def unique_characters(s):
    return list(set(s))

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

In [86]:
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [88]:
my_list = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, my_list))
even_numbers

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

In [90]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
my_dict = dict(tuples_list)
my_dict

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

In [91]:
def symmetric_difference(set1, set2):
    return set1 ^ set2

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [93]:
list1 = [1, 2, 3]  # Example lists
list2 = [2, 3, 4]
list3 = [3, 4, 5]
common = list(set(list1) & set(list2) & set(list3))
common

[3]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [94]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

In [96]:
fruits = ["apple", "", "banana", "", "cherry"]
non_empty = [f for f in fruits if f]
non_empty

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [97]:
def swap_keys_values(my_dict):
    return {v: k for k, v in my_dict.items()}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [98]:
def even_numbers(numbers):
    return [x for x in numbers if x % 2 == 0]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [99]:
def first_elements(tuples_list):
    return [t[0] for t in tuples_list]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

In [101]:
my_list = [1, 2, 2, 3, 4, 4, 5]  # Example
unique_list = list(dict.fromkeys(my_list))
unique_list

[1, 2, 3, 4, 5]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [103]:
strings = ["apple", "banana", "cherry"]  # Example
lengths = list(map(len, strings))
lengths

[5, 6, 6]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [105]:
numbers = [1, 2, 3, 4, 5]  # Example
average = sum(numbers) / len(numbers)
average

3.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

In [106]:
def fibonacci_list(n):
    if n == 0:
        return []
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return fib[:n]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

In [107]:
my_list = [1, 2, 3, 2, 4]  
value = 2
cleaned = [x for x in my_list if x != value]
cleaned

[1, 3, 4]

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

In [109]:
my_list = [1, 2, 3, 2, 4]  # Example, remove 2
value = 2
cleaned = [x for x in my_list if x != value]
cleaned

[1, 3, 4]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

In [110]:
def starts_with_vowel(strings):
    vowels = "aeiouAEIOU"
    return [s for s in strings if s and s[0] in vowels]

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [114]:
set1 = {1, 2, 3} 
set2 = {2, 3, 4}
set1 & set2

{2, 3}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

In [115]:
def flatten_nested(nested):
    if not nested:
        return []
    if isinstance(nested[0], list):
        return flatten_nested(nested[0]) + flatten_nested(nested[1:])
    return [nested[0]] + flatten_nested(nested[1:])

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

In [117]:
my_list = [1, 2, 3, 4, 5]  # Example
all_unique = len(set(my_list)) == len(my_list)
all_unique

True

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

In [118]:
from functools import reduce
my_list = [1, 2, 3, 4]  # Example
product = reduce(lambda x, y: x * y, my_list)
product

24

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

In [119]:
def strings_to_lengths(strings):
    return {s: len(s) for s in strings}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [120]:
s = "hello"  # Example
vowel_count = sum(1 for c in s if c.lower() in "aeiou")
vowel_count

2

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [121]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

num_factorials = [(x, factorial(x)) for x in range(1, 6)]
num_factorials

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [124]:
list_of_dicts = [{"a": 1}, {"b": 2}]  # Example
merged = {}
for d in list_of_dicts:
    merged.update(d)
merged

{'a': 1, 'b': 2}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [125]:
def is_subset(set1, set2):
    return set1.issubset(set2)

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [126]:
tuples_list = [(1, 4), (2, 3), (3, 2)]  # Example
sorted_tuples = sorted(tuples_list, key=lambda t: t[1])

[(3, 2), (2, 3), (1, 4)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [127]:
def positive_integers(numbers):
    return [x for x in numbers if x > 0]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [128]:
def set_union(set1, set2):
    return set1 | set2

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [129]:
from functools import reduce
def product_numbers(numbers):
    return reduce(lambda x, y: x * y, numbers, 1)

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [131]:
chars = ['h', 'e', 'l', 'l', 'o']  # Example
s = ''.join(chars)
s

'hello'

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

In [132]:
numbers = [5, 3, 8, 1, 9]  # Example
second_largest = sorted(set(numbers))[-2]
second_largest

8

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [133]:
def sorted_keys(my_dict):
    return sorted(my_dict.keys())

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [134]:
from collections import Counter
my_list = [1, 2, 2, 3]  # Example
most_common = Counter(my_list).most_common(1)[0][0]
most_common

2

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [135]:
def sort_by_first(tuples_list):
    return sorted(tuples_list, key=lambda t: t[0])

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [136]:
list_of_dicts = [{"a": 1}, {"a": 1}, {"b": 2}]  # Example
unique_dicts = []
seen = set()
for d in list_of_dicts:
    t = tuple(sorted(d.items()))
    if t not in seen:
        seen.add(t)
        unique_dicts.append(d)

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [137]:
def min_max(numbers):
    return min(numbers), max(numbers)

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

In [139]:
list1 = [1, 2, 3]  # Example
list2 = ['a', 'b', 'c']
tuples_list = list(zip(list1, list2))
tuples_list

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [140]:
def reverse_strings(strings):
    return [s[::-1] for s in strings]

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [141]:
def sum_odd(numbers):
    return sum(x for x in numbers if x % 2 == 1)

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [144]:
s = "radar"  # Example
is_palindrome = s == s[::-1]
is_palindrome

True

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [154]:
numbers = [1, 2, 3, 4, 5]  # Example
sorted_numbers = sorted(numbers)
n = len(sorted_numbers)
if n % 2 == 1:
    median = sorted_numbers[n // 2]
else:
    median = (sorted_numbers[n // 2 - 1] + sorted_numbers[n // 2]) / 2

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [157]:
from collections import defaultdict
list_of_dicts = [{"a": 1, "b": 2}, {"a": 3, "c": 4}]  # Example
totals = defaultdict(int)
for d in list_of_dicts:
    for k, v in d.items():
        totals[k] += v
totals = dict(totals)
totals

{'a': 4, 'b': 2, 'c': 4}

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [159]:
from collections import Counter
numbers = [1, 2, 2, 3]  # Example
mode = Counter(numbers).most_common(1)[0][0]
mode

2

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [160]:
def sum_squares(numbers):
    return sum(x ** 2 for x in numbers)

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [162]:
num_cubes = [(x, x ** 3) for x in range(1, 6)]
num_cubes

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [163]:
def primes_up_to(n):
    if n < 2:
        return []
    sieve = [True] * (n + 1)
    sieve[0] = sieve[1] = False
    for i in range(2, int(n ** 0.5) + 1):
        if sieve[i]:
            for j in range(i * i, n + 1, i):
                sieve[j] = False
    return [i for i, is_prime in enumerate(sieve) if is_prime]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [165]:
dict1 = {"a": 1, "b": 2}  # Example
dict2 = {"b": 3, "c": 4}
common_keys = set(dict1.keys()) & set(dict2.keys())
common_keys

{'b'}

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

In [166]:
def long_strings(strings):
    return [s for s in strings if len(s) > 5]

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

In [167]:
strings = ["apple", "banana", "cherry"]  # Example
string_lengths = [(s, len(s)) for s in strings]
string_lengths

[('apple', 5), ('banana', 6), ('cherry', 6)]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [168]:
from collections import defaultdict
list_of_dicts = [{"a": 1, "b": 2}, {"a": 3, "b": 4}]  # Example
sums = defaultdict(int)
for d in list_of_dicts:
    for k, v in d.items():
        sums[k] += v
sums = dict(sums)
sums

{'a': 4, 'b': 6}